:root {
    --background: #101010;
    --text-color: #cecece;
    --text-size: 18px;

    --code-border: #bebebe;
    --code-background: #181818;

    --color-button-hover: yellow;

    font-family: "Space";
    color: var(--text-color);
}

body {
    background-color: var(--background);

    max-width: 1100px;
    margin: 5rem auto;
    padding: 2rem;

    font-size: var(--text-size);
}

h1 {
    font-size: 3rem;
    margin-top: 1rem;
}

h2 {
    margin-top: 4rem;
    font-size: 2rem;
}

.section-title {
    /*
    background-color: green;
    */
    display: flex;
    align-items: center;
}

.heading {
    max-width: 500px;
    /*
    background-color: magenta;
    */
}

.banner {
    font-family: "SpaceMono";
    white-space: pre-wrap;
}

.button-row {
    margin: 2rem auto;
    display: flex;
    gap: 4rem;
}

.button {
    font-size: 2rem;
    text-decoration-thickness: .5rem;
}

.button:hover {
    text-decoration: none;
    background-color: var(--color-button-hover);
}

.code-block {
    padding: 1rem;
    border: 2px solid var(--code-border);
    background-color: var(--code-background);
}

.code {
    font-family: "SpaceMono";
    white-space: pre-wrap;
}

.decreasing-opacity {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background: var(--text-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-button-hover);
}

@media (max-width: 1032px) {
    .section-title {
        display: block;
    }

    .heading {
        max-width: unset;
    }
}

@font-face {
    font-family: "Space";
    src: url("SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "SpaceMono";
    src: url("SpaceMono-Regular.ttf") format("truetype");
}
