body {
    font-family: "Kanit";

    background: linear-gradient(0deg, #ff9933 0%, #ffff66  100%);

    margin: 0 auto;
    padding: 0 4rem;
}

@media (min-width: 768px) {
    body {
        max-width: 56rem;
    }
}

object {
    height: 5rem;
}

h1 {
    font-size: 6rem;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 3rem;
    font-weight: bold;

    margin-top: 4rem;
    margin-bottom: 0;
}

h3 {
    font-size: 2rem;
    font-weight: normal;
}

p, li {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

iframe {
    border: 0.3rem solid black;
    border-radius: 12px;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.6);

    margin-top: 1rem;
    margin-bottom: 3rem;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a {
    color: black;
    text-decoration: none;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin-top: 5rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.button-container > * {
    border: 0.3rem solid black;
    border-radius: 12px;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.6);

    font-size: 2rem;
    padding: 1rem;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-container > *:hover {
    transform: translate(-0.5rem, -0.5rem);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
}

.email {
    background: linear-gradient(90deg, #009990 0%, #00ff99 100%);
}

.tutorial {
    background: linear-gradient(90deg, #0066cc 0%, #0090ff 100%);
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background: #9f9f9f; 
    border: 3px solid black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bebebe; 
}

@font-face {
    font-family: "Kanit";
    src: url("assets/Kanit-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Kanit";
    src: url("assets/Kanit-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
