body {
    --color-email-left: #099;
    --color-email-right: #0f9;

    --color-tutorial-left: #06c;
    --color-tutorial-right: #09f;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin-top: 5rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.button-container > * {
    border: 0.3rem solid black;
    border-radius: 12px;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.6);

    font-size: 2rem;
    padding: 1rem;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-container > *:hover {
    transform: translate(-0.5rem, -0.5rem);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
}

.email {
    background: linear-gradient(90deg, var(--color-email-left) 0%, var(--color-email-right) 100%);
}

.tutorial {
    background: linear-gradient(90deg, var(--color-tutorial-left) 0%, var(--color-tutorial-right) 100%);
}
